<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="estudianteDao" 
		  class="org.mysat.persistence.daos.EstudianteDao" />
	
	<bean id="personaFisicaDao" 
		  class="org.mysat.persistence.daos.PersonaFisicaDao" />
	
	<bean id="personaDao" 
		  class="org.mysat.persistence.daos.PersonaDao" />
		  
	<bean id="deduccionDao" 
		  class="org.mysat.persistence.daos.DeduccionDao" />
		  
	<bean id="nivelEducativoDao" 
		  class="org.mysat.persistence.daos.NivelEducativoDao" />
		  
	<bean id="beneficiarioDao" 
		  class="org.mysat.persistence.daos.BeneficiarioDao" />

	<bean id="personaFisicaCtrl" 
		  class="org.mysat.persistence.controllers.PersonaFisicaController">
		<property name="personaFisicaDao" 
				  ref="personaFisicaDao" />
		<property name="personaDao" 
				  ref="personaDao" />
	</bean>
	
	<bean id="estudianteCtrl" 
		  class="org.mysat.persistence.controllers.EstudianteController">
		<property name="estudianteDao" 
				  ref="estudianteDao" />
		<property name="personaDao" 
				  ref="personaDao" />
	</bean>
	
	<bean id="deduccionCtrl" 
		  class="org.mysat.persistence.controllers.DeduccionController">
		<property name="deduccionDao" 
				  ref="deduccionDao" />
	</bean>
	
	<bean id="nivelEducativoCtrl" 
		  class="org.mysat.persistence.controllers.NivelEducativoController">
		<property name="nivelEducativoDao" 
				  ref="nivelEducativoDao" />
	</bean>
	
	<bean id="beneficiarioCtrl" 
		  class="org.mysat.persistence.controllers.BeneficiarioController">
		<property name="beneficiarioDao" 
				  ref="beneficiarioDao" />
	</bean>

</beans>